.accountForm {
    width : 25rem;
    height : 35rem;
    padding : 1rem;
    border-radius: 2rem;
    background-color: var(--secondary);

    animation: formAppear 250ms ease-in-out;

    @media screen and (max-width : 992px) {
        width : 90%;
        height: 80%;
        min-height : 30rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer {
    width : 100vw;
    height : 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.accountForm input, .accountForm button {
    margin-top : 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size : 1.1rem;
    border-radius: 2rem;

    font-family: 'Montserrat', sans-serif;
}

.accountForm textarea {
    max-width : 80%;
    width : 80%;
    min-width : 15rem;
    min-height : 10rem;
    max-height : 50%;
}

.accountForm input {
    width : 80%;
    padding-left : 1rem;
    padding-right : 1rem;
    padding-top : 0.5rem;
    padding-bottom: 0.5rem;
    outline: none;
    background-color: transparent;
    border: solid var(--accent) 2px;
    color : var(--text);

    transition: border-color 250ms, color 250ms;
}

.accountForm input::placeholder {
    color : var(--primary);
    transform: color 250ms;
}

.accountForm input:focus::placeholder {
    color: var(--text);
}

.accountForm input:focus {
    border-color: var(--text);
}

.accountForm button {
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    padding-left : 2rem;
    padding-right : 2rem;
    padding-top : 0.75rem;
    padding-bottom: 0.75rem;

    transition: background-color 250ms;
    will-change: background-color;
}

.accountForm button:hover {
    background-color: var(--accent);
}

@keyframes formAppear {
    from {
        opacity : 0;
        transform: translateY(100px) scale(0);
    }

    to {
        opacity : 1;
        transform: translateY(0px) scale(1);
    }
}

