.errorPopup {
    position : fixed;
    justify-self: flex-start;

    opacity : 0;

    width : 20rem;
    min-height : 7rem;
    margin : 1rem;
    padding : 1rem;

    pointer-events: none;

    background-color: #861616;
    color : var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;

    animation: error 4000ms ease-in-out;

    @media screen and (max-width : 360px) {
        width : 15rem;
        font-size: 0.8rem;
    }
}

.errorPopup p {
    margin : 0;
    margin-top : 0.3rem;
    margin-bottom : 0.3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

@keyframes error {
    0% {
        opacity : 0;
        transform: scale(0) translateX(-50vw);
    }

    10% {
        opacity : 1;
        transform: scale(1) translateX(0vw);
    }

    90% {
        opacity : 1;
        transform: scale(1) translateX(0vw);
    }

    100% {
        opacity : 0;
        transform: scale(0) translateX(-50vw);
    }
}