.userPanel {
    width : 100vw;
    height : 4rem;
    background-color: var(--primary);
    position: sticky;
    top: 0;

    display : flex;
    align-items: center;
    justify-content: space-between;

    padding-left : 2.5%;
    padding-right: 2rem;

    @media screen and (max-width : 360px){
        padding-left : 2%;
        padding-right: 2%;
    }

    @media screen and (max-width : 992px){
        padding-left : 5%;
        padding-right: 5%;
    }
}

.userPanel .userSection {
    font-family: 'Montserrat' , sans-serif;
    font-size : 1.25rem;
    height : 4rem;
    @media screen and (max-width : 450px) {
        width: 40%;
    }

    display: flex;
    align-items: center;

    @media screen and (max-width : 992px) {
        font-size : 0.75rem;
    }

     @media screen and (max-width : 360px) {
        font-size : 0.6rem;
    }
}  


.userPanel .userButtons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width : 450px) {
        width : 60%;
    }
}

.userPanel .userButtons > a,
.userPanel .userButtons form > button {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    font-family: 'Montserrat' , sans-serif;
    border-radius: 0.5rem;
    text-decoration: none;

    padding-left : 2rem;
    padding-right : 2rem;
    padding-top : 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.1rem;
    margin-right: 1rem;

    cursor: pointer;
    transition: background-color 250ms;

    @media screen and ( max-width : 992px ) {
        margin-right : 0.2rem;
        padding-left : 1.25rem;
        padding-right : 1.25rem;
        padding-top : 0.5rem;
        padding-bottom: 0.5rem;
        font-size: .8rem;
    }

    @media screen and ( max-width : 360px ) {
        margin-right : 0.2rem;
        padding-left : 1.2rem;
        padding-right : 1.2rem;
        padding-top : 0.45rem;
        padding-bottom: 0.45rem;
        font-size: .7rem;
    }

    @media screen and ( max-width : 320px ) {
        font-size: .6rem;
    }
}

.userPanel .userButtons > a:hover,
.userPanel .userButtons form > button:hover {
    background-color: var(--background);
}