.userPanel {
    min-width : 100vw;
    min-height : 4rem;
    background-color: var(--primary);

    display : flex;
    align-items: center;
    justify-content: space-between;

    padding-left : 2.5%;
    padding-right: 2rem;
}

.userPanel .userSection {
    font-family: 'Montserrat' , sans-serif;
    font-size : 1.25rem;
    height : 100%;

    @media screen and (max-width : 992px) {
        font-size : 0.75rem;
    }
}

.userPanel .userButtons {
    display: flex;
    justify-content: space-between;
}

.userPanel .userButtons > a,
.userPanel .userButtons form > button {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    font-family: 'Montserrat' , sans-serif;
    border-radius: 0.5rem;
    text-decoration: none;

    padding-left : 2rem;
    padding-right : 2rem;
    padding-top : 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.1rem;
    margin-right: 1rem;

    cursor: pointer;
    transition: background-color 250ms;

    @media screen and ( max-width : 992px ) {
        margin-right : 0.25rem;
        padding-left : 1.5rem;
        padding-right : 1.5rem;
        padding-top : 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1rem;
    }
}

.userPanel .userButtons > a:hover,
.userPanel .userButtons form > button:hover {
    background-color: var(--background);
}