.wordSection {
    min-width : 100vw;
    height : calc(100vh - 4rem);

    display : flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.wordSection .name, .wordSection .creationDate, .wordSection .definition {
    background-color: var(--secondary);
    color : var(--text);
    margin : 1%;
    height : 45%;
    border-radius: 2rem;
}


.wordSection .name {
    width : 45%;
    font-size : 1.6em;
    padding : 1rem;

    animation: appear 250ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width : 992px) {
        font-size : 1.1em;
        min-height: 5rem;
        width : 92%;
        height: 15%;
    }
}

.wordSection .name h2 {
    font-family: 'Montserrat', sans-serif;
}

.wordSection .creationDate {
    width : 45%;
    font-family: 'Montserrat', sans-serif;
    padding : 4rem;

    animation: appear2 500ms ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width : 992px) {
        min-height: 5rem;
        width : 92%;
        height: 15%;
    }
}

.wordSection .creationDate > * {
   margin : 1rem;
   font-size : 1.6em;
   text-align: center;
}

.wordSection .definition {
    width : 92%;
    margin : 1%;
    padding : 2rem;
    font-family: 'Montserrat', sans-serif;
    animation: appear3 750ms ease-in-out;

    @media screen and (max-width : 992px) {
        width : 92%;
        height: 60%;
        min-height: 15rem;
    }
}

.wordSection .definition p {
    font-family: 'Inter', sans-serif;
    margin-top: 1rem;
    max-width: 50%;

    @media screen and (max-width : 992px) {
        max-width : 80%;
    }
}

.wordSection .definition a {
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top : 1rem;
    padding-left : 2rem;
    padding-right : 2rem;
    padding-top : 0.75rem;
    padding-bottom: 0.75rem;
    text-decoration: none;
    color : var(--text);
    font-weight: 500;
    border-radius: 1rem;

    transition: background-color 250ms;
    will-change: background-color;
}

.wordSection .definition a:hover {
    background-color: var(--accent);
}


@keyframes appear {
    from {
        opacity : 0;
        transform: scale(0);
    }

    to {
        opacity : 1;
        transform: scale(1);
    }
}

@keyframes appear2 {
    0% {
        opacity : 0;
        transform: scale(0);
    }

    25% {
        opacity : 0;
        transform: scale(0);
    }

    100% {
        opacity : 1;
        transform: scale(1);
    }
}

@keyframes appear3 {
    0% {
        opacity : 0;
        transform: scale(0);
    }

   40% {
        opacity : 0;
        transform: scale(0);
    }

    100% {
        opacity : 1;
        transform: scale(1);
    }
}




