.words {
    min-width : 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.words .word {
    width : 95%;
    margin : 1rem;
    padding : 1rem;
    background-color: var(--secondary);
    border-radius: 1rem;
    cursor: pointer;

    transition: background-color 250ms;
    will-change: background-color;
}

.words .word:hover {
    background-color: var(--accent);
}

.wordName, .wordDate {
    color : var(--text);
    margin : 1rem;
}

.wordName {
    font-family: 'Montserrat', sans-serif;
}

.wordDate {
    font-family: 'Inter', sans-serif;
}