.words {
    min-width : 100vw;
    height: calc(100vh - 4rem);
    min-height: 40rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width : 992px) {
        height: auto;
    }
}

.words .word {
    width : 95%;
    margin : 1rem;
    margin-top : 1.25rem;
    margin-bottom : 1.25rem;
    padding : 1rem;
    background-color: var(--secondary);
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;

    transition: background-color 250ms;
    will-change: background-color;

   @media screen and (min-width : 2400px) {
        margin : 1.5rem;
        margin-top : 2rem;
        margin-bottom : 2rem;
        padding : 3rem;
        border-radius: 1.25rem;
   }

    @media screen and (min-width : 3200px) {
        margin : 3rem;
        margin-top : 4rem;
        margin-bottom : 4rem;
        padding : 5rem;
        border-radius: 1.5rem;
   }
}

.words .word:hover {
    background-color: var(--accent);
}

.wordName, .wordDate {
    color : var(--text);
    margin : 1rem;
}

.wordName {
    font-family: 'Montserrat', sans-serif;

    @media screen and (min-width : 2400px) {
       font-size : 2rem;
    }

    @media screen and (min-width : 3200px) {
        font-size : 3rem;
    }
}

.wordDate {
    font-family: 'Inter', sans-serif;

    @media screen and (min-width : 2400px) {
       font-size : 2rem;
    }

    @media screen and (min-width : 3200px) {
        font-size : 3rem;
    }
}